@model CoinTracker.Models.tblCoin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblCoin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coin_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coin_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coin_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coin_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Face_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Face_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCoinComposition.Composition_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCoinComposition.Composition_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCoinImage.Image_Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCoinImage.Image_Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCoinType.Type_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCoinType.Type_Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
