@model CoinTracker.Models.tblCoin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="card mb-3" style="max-width: 900px">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/Images/@Model.Image_Path" class="img_Card" alt="Coin image">
        </div>
        <div class="col-md-8">
            <div class="card-body CoinDetailsCard">
                <h3 class="card-title"><strong>@Model.Coin_Name</strong></h3>
                <p class="card-text">@Model.Coin_Description</p>
                <p class="card-text"><small class="text-muted">Purchase Amount: R @Model.Purchase_Amount</small></p>
                <p class="card-text"><u>Purchased on @Model.Purchase_Date.ToLongDateString()</u></p>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Coin_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
