@model IEnumerable<CoinTracker.Models.tblCoin>

@{
    ViewBag.Title = "Index";
}

<h2>Current Coins in Collection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4">
            <div class="card Coin_Card">
                <img class="card-img-top img_Card" src="~/images/@item.Image_Path" alt="Coin Image">
                <div class="card-body">
                    <h4 class="card-title">@item.Coin_Name</h4>
                    <p class="card-text">Purchased for: <u>R @item.Purchase_Amount</u> on <u>@item.Purchase_Date.ToLongDateString()</u></p>
                    <button class="btn btn-success" name="ViewCoinBtn" formmethod="post" onclick="location.href='@Url.Action("Details", "Coins", new { id = item.Coin_ID})'">Coin Details<span class="material-icons">visibility</span></button>
                </div>
            </div>

        </div>
    }
</div>

